body {
  background-image: linear-gradient(
    to right bottom,
    #7c8098,
    #676c8a,
    #53597b,
    #3f476d,
    #2a355f,
    #343c65,
    #3d426a,
    #464970,
    #6d6d8c,
    #9493a9,
    #bcbbc6,
    #e5e5e5
  );
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}
h1 {
  color: ivory;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(236, 233, 233);
  font-weight: 100;
  line-height: 1px;
  margin: 0;
  padding: 0;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}
footer {
  color: rgb(20, 190, 190);
}

.btn-primary {
  background: rgb(20, 190, 190);
  box-shadow: 5px 5px 5px ivory;
  color: ivory;
}
.btn-primary:hover {
  box-shadow: none;
}

.city-input {
  color: teal;
}

.lightening-pic {
  display: block;
  margin-left: 20px auto;
  max-width: 600px;
}

.container {
  margin: 30px auto;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  border: 1px solid ivory;
  border-radius: 5px;
  padding: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 10px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: normal;
}
